.MuiInputBase-input {
  display: none !important;
}

.MuiOutlinedInput-notchedOutline {
  display: none !important;
}

.reset-btn {
  width: 10px !important;
}
/* .select-meal{
  background-color: var(--input-colour);
} */

.ant-select-outlined > div {
  background-color: var(--input-colour) !important;
  border-color: transparent !important;
  outline: none !important;
}

.ant-select-outlined > div:hover {
  border-color: var(--header-colour) !important;
}

tspan {
  font-size: 14px;
  /* font-weight: 100; */
}

.ant-select-item-option:hover {
  /* Your custom hover styles here */
  background-color: var(--selected-hover) !important;
}

.ant-select-item-option-selected {
  background-color: var(--selected-option) !important;
}

.tally {
  background-color: var(--header-colour);
  border-radius: 2px;
}

.info-container {
  background-color: var(--table-bg);
}


.submission-form{
  background-color: var(--table-bg);
  height: var(--table-height);
}