table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  /* border-right: 1px solid var(--border-colour); */
  border-left: 1px solid var(--border-colour);
}

th,
td {
  text-align: center;
}

.food-name-header {
  width: 55%;
}

.macro-header {
  width: 9%;
}

.edit-header {
  width: 9%;
}

@media screen and (min-width: 1650px) {
  .food-name-header {
    width: 65%;
  }

  .macro-header {
    width: 7%;
  }
}
/* 
@media screen and (max-width: 800px) {
  .food-name-header {
    width: 65%;
  }

  .macro-header {
    width: 7%;
  }
} */

thead th {
  position: sticky;
  top: 0;
  background-color: var(--header-colour);
  z-index: 1;
}

.sticky-table-header {
  border-bottom: 1px solid var(--border-colour);
}

/* .calorie-table-div {
  scrollbar-width: thin;
  scrollbar-color: rgb(194, 194, 194) var(--table-bg);
  border-radius: 5px;
} */


::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 187, 187); 
}

.timeperiod {
  background-color: #abd4d9;
}

.calorie-table-div {
  height: 60vh;
  background-color: var(--table-bg);
}

.tab-panel {
  background: linear-gradient(to bottom, var(--app-bg), var(--app-header));
}

.Snacks-subtotal {
  border-bottom: 1px solid var(--border-colour);
}
