table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-right: 1px solid hsl(0, 21%, 8%);
  border-left: 1px solid hsl(0, 21%, 8%);
}

th,
td {
  text-align: center;
}

.food-name-header {
  width: 55%;
}

.macro-header {
  width: 9%;
}

.edit-header {
}

@media screen and (min-width: 1650px) {
  .food-name-header {
    width: 65%;
  }

  .macro-header {
    width: 7%;
  }
}
/* 
@media screen and (max-width: 800px) {
  .food-name-header {
    width: 65%;
  }

  .macro-header {
    width: 7%;
  }
} */

thead th {
  position: sticky;
  top: 0;
  background-color: var(--header-colour);
  z-index: 1;
}

.sticky-table-header {
  border-bottom: 1px solid hwb(0 5% 94%);
}

.calorie-table tbody::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
}

.calorie-table tbody::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.calorie-table tbody::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.timeperiod {
  background-color: #abd4d9;
}

.calorie-table-div {
  height: 60vh;
  background-color: var(--table-bg);
}

.tab-panel {
  background: linear-gradient(to bottom, var(--app-bg), var(--app-header));
}
