.custom-input {
  background-color: var(--input-colour);
  outline: none;
  border: 1px solid transparent;
}

.custom-input:hover,
.custom-input:focus {
  border-color: var(--header-colour);
}


.food-option{
    background-color: rgb(235, 238, 239)
}

.food-option:hover{
    background-color: var(--selected-hover);
}