.custom-input {
  background-color: var(--input-colour);
  outline: none;
  border: 1px solid transparent;
}

.adjust-input {
  background-color: var(--input-colour);
  outline: none;
  border-bottom: 1px solid transparent;
}

.custom-input:hover,
.custom-input:focus,
.adjust-input:hover,
.adjust-input:focus {
  border-color: var(--header-colour);
}

.food-option {
  background-color: rgb(235, 238, 239);
}

.food-option:hover {
  background-color: var(--selected-hover);
}

.name-div {
  width: 35%;
  text-align: left;
  font-size: 14px;
}

.serving-div {
  width: 15%;
  text-align: center;
  font-size: 14px;
}

.amount-div {
  width: 10%;
  text-align: center;
  font-size: 14px;
}

.macro-div {
  width: 10%;
  text-align: center;
  font-size: 14px;
}

.food-description {
  font-size: 14px;
}

.header-name,
.result-name {
  width: 30%;
}

.header-description,
.result-description {
  width: 70%;
}

.header-description,
.header-name {
  background-color: var(--header-colour);
}

.result-description,
.result-name {
  height: 40px;
}

@media screen and (min-width: 1600px) {
  .header-name,
  .result-name {
    width: 40% !important;
  }

  .header-description,
  .result-description {
    width: 60% !important;
  }
}

.food-list-item {
  background-color: var(--table-bg);
}

.food-list-item:hover {
  background-color: var(--selected-hover);
}

@media screen and (max-width: 1140px) {
  .macro-div,
  .amount-div,
  .name-div,
  .serving-div,
  .food-description {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .macro-div,
  .amount-div,
  .name-div,
  .serving-div,
  .food-description {
    font-size: 14px;
  }
}

.food-search-table {
  height: var(--table-height);
  background-color: var(--table-bg);
  overflow-y: scroll;
  border: 1px solid rgb(116, 115, 115);
  border-radius: 10px;
}
