input {
  background-color: var(--input-colour);
}

.custom-inputLogin {
  outline: none;
  border: 1px solid transparent;
}
.custom-inputLogin:hover,
.custom-inputLogin:focus {
  border-color: var(--header-colour);
}

.custom-inputLogin::placeholder {
  color: black;
}
