@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  background-color: var(--app-bg);
  height: 100vh;
  min-width: 650px;
  /* #f0f9ff */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --header-colour: #1fa1af;
  --app-bg: #f1f5f9;
  --header-colour2: #aedadf;
  --input-colour: #d2e8ecfc;
  --selected-hover: #c3cccd;
  --selected-option: #839395;
  --button-colour: #1a8b97;
  --button-hover: #3e9099;
  --table-bg: rgb(235, 238, 239);
  --page-height: calc(100vh - 40px);
  --login-conatiner: calc(100vh - 85px);

  --table-height: calc(100vh - 505px);
  --table-height2: calc(100vh - (40px+364px+48px +12px +8px));
  --app-header: #b4cfe0;
  --app-header-dark: #9eb6c5;
  --border-colour: #9ca3af;
}

.app-menu-option:hover {
  background-color: var(--selected-hover);
}

.app-menu-greet:hover {
  background-color: var(--app-header);
}
.app-menu-greet {
  background-color: var(--app-header) !important;
}

.ant-dropdown > ul {
  background-color: var(--table-bg) !important;
}

.ant-dropdown > ul > li:hover {
  background-color: var(--table-bg) !important;
}

.a .login-container {
  background-color: rgba(221, 220, 220, 0.973);
  height: var(--login-conatiner);
}

.login-btn {
  background-color: var(--button-colour);
}

.login-btn:hover {
  background-color: var(--button-hover) !important;
  border-color: #0e4950 !important;
  color: black !important;
}

@media screen and (max-width: 1000px) {
  .secondary-div {
    display: none;

    transition: width 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  .main-div {
    width: 100%;
    transition: width 0.5s ease-in;
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  .secondary-div-show {
    display: block;
    width: 100%;
    transition: width 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  .main-div-hide {
    width: 0%;

    transition: width 0.5s ease;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .arrow-div {
    display: inline !important ;
  }
}

.arrow-div {
  display: none;
}

.main-page {
  height: var(--page-height);
  overflow: hidden;
}

.app-header {
  background-color: var(--app-header);
}

.login-input {
  padding-block: 8px;
  border: 1px solid var(--border-colour) !important;
}

.login-input:hover,
.login-input:focus {
  border-color: var(--header-colour) !important;
}

.login-header {
  background-color: var(--app-header);
}

.login-title {
  background-color: var(--app-header-dark);
  padding: 4px;
}
